*{
    margin:0;
    padding:0;
    box-sizing: border-box;

}

@font-face {
    font-family: 'yasin-2';
    src: url('./Shabnam-Light.eot') format('eot') , url('./Shabnam-Light.woff') format('woff') ,
     url('./Shabnam-Light.woff2') format('woff2');
}

body{
    font-family: 'yasin-2';
    background-color: #f1f1f1;
}

.container{
    background-color: rgb(255, 255, 255);
    display: grid;
    grid-template-rows: 80vh repeat(5 , max-content);
    /* max-content میگذاریم برای اینکه ردیف های ما دقیقا برابر با محتوای درون آن باشد  */
    grid-template-columns: repeat(6 , 1fr);

}

/* head bar */

.head{
    background-color: #000;
    grid-column: 1 / 7;
    color: #fff;
    background-image: linear-gradient(to right , #5757574f , #000) , url('head.jpg');
    background-size: cover;
    display: grid;
    grid-template-rows: repeat(3 , min-content);
    justify-content: center;
    align-content: center;
    text-align: center;
    
}

.sign-up{
    background-color:rgb(45, 104, 45);
    /* margin-right: 1285px; */
    height: 25px;
    justify-self: center;
    margin-top: 320px;
    grid-row: 1/2;
    width: 80px;
    color: #fff;
    border: 1px solid rgb(45, 104, 45);
    border-radius: 10px;
}

.sign-up:hover{
    cursor: pointer;
    opacity: 0.8;
}

.signed{
    margin-top: -305px;
}


.head h1:nth-child(2) span{
    color:rgb(199, 171 ,136);
}

.head h1 , h1:nth-child(2) span{
    font-size: 45px;
}

.head button:nth-child(3){
    padding: 5px 15px;
    border-radius: 20px;
    background-color: rgb(45, 104, 45);
    color: #fff;
    font-family: 'yasin-2';
    border: 1px solid rgb(45, 104, 45);
    transition: all 0.4s;
    justify-self: center;
    
}

.head button:nth-child(3):hover{
    cursor: pointer;
    opacity: 0.8;
}

@media screen and (max-width:550px) {
    .head{
        background-position-x: 20%;
    }

    
}

/* story bar */

.story{
    background-color: rgb(255, 255, 255);
    grid-column: 1/7;
}

.title{
    text-align: center;
    font-family: 'yasin-2';
    font-size: 30px;
    padding-top: 20px;
    color:  rgb(45, 104, 45);
    font-weight: 600;
}

.title::after , .title::before{
    background-color: rgb(0, 0, 0);
    content: "";
    height: 2px;
    width: 5%;
    display: inline-block;
    vertical-align:middle;
    position: relative;
}

.title::after{
    left: 2px;
}

.title::before{
    right: 2px;
}

.story1{
    background-image: linear-gradient(to bottom  ,  #5757574f 2% , #000) , url('./pizza1.jpg');
    background-size: cover;
}

.image{
    width: 100%; height:250px;
    border-radius: 10px;
}


.story-iamges{
    display: grid;
    padding: 20px;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fit , minmax(150px,1fr));

}



.price{
    background-color: aqua;
    width: 100%; height: 50px;
    
}


.image-storys{
    transition: all 0.3s;

}

/* .image-storys:hover{
    transform: scale(1.03);
    cursor: pointer;
} */

.text85{
    opacity: 0;
    font-size: 30px;
}

.des{
    opacity: 0;
    font-weight: 200;

}

.fil1:hover{
    .des{
        opacity: 2;
        font-weight: 800;
    }
}

.fil1:hover{
    opacity: 0.7;
    cursor: pointer;
    .text85{
        font-weight:lighter bold;
        opacity: 1;
    }

}

.number{
    width: 46px;
    height: 35px;
    border: 6px solid black;
    border-radius: 10px;
    visibility: hidden;
}

.fil1:hover{
    .number{
        visibility: visible;
    }
}

.label{
    font-size: 30px;
}




@media screen and (max-width:687px) {
    .image.story4{
        grid-column: 2 / 3;
    }

    
}

@media screen and (max-width:420px) {
    .image.story4{
        grid-column: auto;
    }
}

/* sevices bar */


.service{
    background-color: rgb(255, 255, 255);
    grid-column: 2 / 6;
    margin-top:15px;

}

.service div h3:first-child{
    padding-bottom: 15px;
}

.service div{
   margin-top:10px; 
}

.services-image{
    width: 100%; 
    height: 250px;
}

.section-image{
    display: grid;
    grid-template-rows: repeat(2 , 250px);
    grid-template-columns: repeat(auto-fit , minmax(210px, 1fr));
    grid-gap: 50px;
    grid-row-gap: 70px;
    padding-bottom: 70px;
    margin-top:10px;
}

.services-image{
    border-top-right-radius: 35px;
    border-bottom-left-radius: 35px;
    transition: all 0.3s;
}

.services-image:hover{
    transform:translateY(-3px) ;
    filter:grayscale(75%);
    cursor: pointer;
}

.image-text{
    text-align: center;
    font-size: 14px;
    font-family: 'yasin-2';
}

.tx{
    font-weight:bold;
    font-size: 16px;
    margin-top: 10px;
}

/* reserv bar */

.reserve{
    background-image: linear-gradient(to right , #d684844f , #000) , url("pexels-chan-walrus-941861.jpg");
    grid-column: 1/7;
    background-position: center;
    background-size: cover;
}

.reserv-section{
    display: grid;
    grid-template-columns: 50px repeat(4 , 1fr) 50px;
    padding: 50px;
}

.right{
    background-color: #000;
    color: #fff;
    grid-column: 2 / 3;
    text-align: center;
    display: grid;
    grid-template-rows: 2fr 1fr repeat(3 , 0.5fr) 2fr;
    padding: 15px;
}

.left{
    background-color: #fff;
    grid-column: 3 / 6;
    text-align: center;
    display: grid;
    grid-template-rows: 0.5fr 1fr 0.5fr 1fr 2fr;
    opacity:0.8;
}

.left-box{
    display: grid;
    grid-template-columns: repeat(3,1fr);
}


.leftbox-img{
    width: 100%; height: 120px;
    clip-path: circle(23% at 50% 50%);

}

.title-right{
    font-family: 'Lacquer', cursive;
    align-self: center;
    font-size: 25px;
}

.parantes , .right-beranch , .left-title{
    color:goldenrod;
    font-family: 'Dancing Script', cursive;
    font-size: 20px;

}

.text-right{
    align-self: center;
    font-family: 'Dancing Script', cursive;
    font-size: 18px;
    color: goldenrod;
}

/* gallery bar */

.gallery{
    background-color: rgb(255, 255, 255);
    grid-column: 1/7;
}

.gallery-section{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3 , 250px);
    grid-template-areas: "gallery_1 gallery_1 gallery_2" "gallery_3 gallery_4 gallery_2" "gallery_3 gallery_5 gallery_5";
    padding: 20px 50px;
    gap: 1rem;
    
}

.gallery-pics{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px;
    transition: all 0.2s;
}

.pic1{
    grid-area: gallery_1;
    background-image: url("gallery1.png");
}

.pic2{
    grid-area: gallery_2;
    background-image: url("gallery2.jpg");
}

.pic3{
    grid-area: gallery_3;
    background-image: url("gallery3.jpg");
}

.pic4{
    grid-area: gallery_4;
    background-image: url("gallery4.png");
}

.pic5{
    grid-area: gallery_5;
    background-image: url("gallery5.jpeg");
}


.pic1:hover{
    opacity: 0.7;
    cursor: pointer;
}

.pic2:hover{
    opacity: 0.7;
    cursor: pointer;
}

.pic3:hover{
    opacity: 0.7;
    cursor: pointer;
}

.pic4:hover{
    opacity: 0.7;
    cursor: pointer;
}

.pic5:hover{
    opacity: 0.7;
    cursor: pointer;
}

@media screen and (max-width: 750px){
    .gallery-section{
        grid-template-areas: "gallery_1 gallery_1 gallery_2" "gallery_3 gallery_4 gallery_4" "gallery_5 gallery_5 gallery_5";
    }
}

@media screen and (max-width:550px) {
    .gallery-section{
        grid-template-columns: repeat(2 , 1fr);
        grid-template-rows: repeat(4 , 250);
        grid-template-areas: "gallery_3 gallery_3" "gallery_1 gallery_4" "gallery_5 gallery_5" "gallery_2 gallery_2";
    }
}

/* footer bar */

.footer{
    grid-column: 1/7;
    margin: 0 0;
    border-top: 1px solid #000;
    background-color: whitesmoke;

}

.footer-section{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    padding: 30px;
    text-align: center;
    gap: 10px;
    
}

.copy{
    text-align: center;
    font-size: 12px;
}

.copy span{
    color: orange;
}

ul{
    list-style-type: none;
    text-align: center;
}

li{
    transition: all 0.4s;
}

li:hover{
    cursor: pointer;
    color: orange;
}

li h5{
    text-align: center;
    margin-top: 10px;
}

ul li:first-child h3{
    color: orange;
    font-size: 20px;
}

.telegram,.whatsapp,.youtube{
    transition:all 0.3s;
}

.telegram:hover{
    color: blue;
}

.whatsapp:hover{
    color: green;
}

.youtube:hover{
    color: red;
}

.footer, .gallery, .reserve, .story{
    grid-column: 1/7;
}

@media screen and (max-width:415px){
    .footer-section{
        grid-template-rows: repeat(3,1fr);
        grid-template-columns: 1fr;
        gap: 35px;
    }
}

/* finish */
